<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image:
  url('assets/img/21.jpg');">
  <div class="ui-bg-overlay bg-dark opacity-25"></div>

  <div class="authentication-inner py-5">

    <div class="card">
      <div class="p-4 px-sm-5 pt-sm-5">
        <!-- Logo -->
        <div class="d-flex justify-content-center align-items-center mb-4">
          <div class="ui-w-60">
            <div class="w-100 position-relative">
              <span class="app-brand-logo demo bg-white ml-auto mr-auto">
                <b class="text-linux text-large"><i class="fa fa-circle-notch"></i></b>
              </span>
            </div>
          </div>
        </div>
        <!-- / Logo -->

        <h5 class="text-center text-muted font-weight-normal mb-4">Reset Your Password</h5>
        <div *ngIf="!complete">
          <hr class="mt-0 mb-4">

          <p>
            Enter your email address and we will send you a link to reset your password.
          </p>
          <!-- Form -->
          <form [formGroup]="fg" (ngSubmit)="resetPassword()">
            <div class="form-group">
              <label class="form-label">Email</label>
              <input formControlName="email" name="email" type="text" class="form-control">
            </div>

            <div class="m-0">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="fg.invalid || fg.pristine">Send
                password reset email</button>
            </div>
          </form>
          <!-- / Form -->
        </div>

        <p *ngIf="complete">
          Please check your inbox for a password reset link.
        </p>
      </div>
    </div>

  </div>
</div>
