<sidenav [orientation]="orientation" [ngClass]="getClasses()">

  <div class="app-brand demo" *ngIf="orientation !== 'horizontal'">
    <span class="app-brand-logo demo bg-white">
          <b class="text-linux text-large"><i class="fa fa-circle-notch"></i></b>
    </span>
    <a routerLink="/" class="app-brand-text demo sidenav-text font-weight-normal ml-2">Appwork</a>
  </div>
  <div class="sidenav-divider mt-0" *ngIf="orientation !== 'horizontal'"></div>


  <!-- Inner -->
  <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">

    <ng-container *ngFor="let item of menu">

      <!-- Divider -->
      <div *ngIf="item.type == 'divider'"
        class="sidenav-inner"
        [ngClass]="{ 'py-1': orientation !== 'horizontal' }"></div>

      <!-- Header -->
      <sidenav-header *ngIf="item.type == 'header'"
        class="small font-weight-semibold">{{item.text}}</sidenav-header>

      <!-- Single Nav Link -->
      <sidenav-router-link *ngIf="item.type === 'route'"
        icon="{{item.icon}}"
        route="{{item.uri}}"
        [active]="isMenuActive(item.activeUriSegment, item.exact)">{{item.text}}</sidenav-router-link>

      <!-- Submenu -->
      <sidenav-menu *ngIf="item.type === 'submenu'"
        icon="{{item.icon}}"
        text="{{item.text}}"
        [active]="isMenuActive(item.activeUriSegment, item.exact)"
        [open]="isMenuOpen(item.activeUriSegment)">

        <!-- Submenu Link -->
        <sidenav-router-link *ngFor="let child of item.childRoutes"
          route="{{child.uri}}"
          [active]="isActive(child.activeUriSegment, child.exact)">{{child.text}}</sidenav-router-link>
      </sidenav-menu>

    </ng-container>

  </div>
</sidenav>
