<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image:
  url('assets/img/21.jpg');">
  <div class="ui-bg-overlay bg-dark opacity-25"></div>

  <div class="authentication-inner py-5">

    <div class="card">
      <div class="p-4 px-sm-5 pt-sm-5">
        <!-- Logo -->
        <div class="d-flex justify-content-center align-items-center mb-4">
          <div class="ui-w-60">
            <div class="w-100 position-relative">
              <span class="app-brand-logo demo bg-white ml-auto mr-auto">
                <b class="text-linux text-large"><i class="fa fa-circle-notch"></i></b>
              </span>
            </div>
          </div>
        </div>
        <!-- / Logo -->
        <h5 class="text-center text-muted font-weight-normal mb-4">Create an Account</h5>

        <!-- Form -->
        <form [formGroup]="fg" (ngSubmit)="register()" *ngIf="!complete">
          <div class="form-group">
            <label class="form-label">Name</label>
            <input formControlName="name" name="name" type="text" class="form-control"
              [ngClass]="checkInputValidity('name', true)">
            <small class="d-block text-danger" *ngIf="fg.get('name').invalid">{{getControlError('name')}}</small>

          </div>
          <div class="form-group">
            <label class="form-label">Email</label>
            <input formControlName="email" name="email" type="text" class="form-control"
              [ngClass]="checkInputValidity('email', true)">
            <small class="d-block text-danger" *ngIf="fg.get('email').invalid">{{getControlError('email')}}</small>
          </div>
          <div class="form-group">
            <label class="form-label">Password </label> <ng2-password-strength-bar class="float-right" [passwordToCheck]="fg.get('password').value"></ng2-password-strength-bar>
            <input formControlName="password" name="password" type="password" class="form-control"
              [ngClass]="checkInputValidity('password', true)">

            <small class="d-block text-danger" *ngIf="fg.get('password').invalid">{{getControlError('password')}}</small>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="fg.invalid || fg.pristine">Sign Up</button>
          <div class="text-light small mt-4">
            By clicking "Sign Up", you agree to our
            <span class="text-primary cursor-pointer" (click)="showTOS()">terms of service and privacy policy</span>.
            We’ll occasionally send you account related emails.
          </div>
        </form>
        <!-- / Form -->

        <p *ngIf="complete" class="text-center">
          Your registration has completed successfully! Please check your email to confirm your new account.
        </p>

      </div>
      <div class="card-footer py-3 px-4 px-sm-5">
        <div class="text-center text-muted">
          Already have an account? <a [routerLink]="['/', 'identity', 'login']">Sign In</a>
        </div>
      </div>
    </div>

  </div>
</div>
