<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x" [ngClass]="currentBg()">


  <!-- Sidenav toggle -->
  <div class="navbar-nav d-lg-none d-xl-none align-items-lg-center mr-auto mr-lg-4" *ngIf="sidenavToggle">
    <a class="nav-item nav-link px-0" href="javascript:void(0)" (click)="toggleSidenav()">
      <i class="fas fa-bars text-large align-middle"></i>
    </a>
  </div>

  <!-- Navbar toggle -->
  <!-- <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <a class="ml-auto" [routerLink]="accountRoute"><i class="fas fa-user"></i></a>

  <!-- <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
    <div class="navbar-nav align-items-lg-center">
      <div class="nav-item"></div>
      <div class="nav-item"><a class="nav-link" href="#">Link 2</a></div>
    </div>
  </div> -->
</nav>
