<h4 class="media align-items-center font-weight-bold py-3 mb-4">
  <img *ngIf="user" [src]="(user?.photoURL || '')" alt="" class="ui-w-50 rounded-circle">
  <div class="media-body ml-3">
    Welcome back, {{user?.displayName}}!
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Today is {{today | date: 'fullDate'}}</small></div>
  </div>
</h4>

<hr class="container-m-nx mt-0 mb-4">

<!-- Counters -->
<div class="row">
  <div class="col-sm-6 col-xl-3">

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="fas fa-bookmark fa-2x text-primary"></div>
          <div class="ml-3">
            <div class="text-muted small">Assigned Items</div>
            <div class="text-large">12</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-xl-3">

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="fas fa-pen fa-2x text-info"></div>
          <div class="ml-3">
            <div class="text-muted small">In Progress</div>
            <div class="text-large">8</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-xl-3">

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="fas fa-exclamation-circle fa-2x text-danger"></div>
          <div class="ml-3">
            <div class="text-muted small">Blocked</div>
            <div class="text-large">2</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6 col-xl-3">

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="fas fa-check fa-2x text-success"></div>
          <div class="ml-3">
            <div class="text-muted small">QA/Complete</div>
            <div class="text-large">10</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- / Counters -->
<hr class="container-m-nx mt-0 mb-4">

<h6 class="font-weight-semibold mb-4">Current Progress</h6>

<!-- Project progress -->

<div class="card pb-4 mb-2">
  <div class="row no-gutters align-items-center">
    <div class="col-12 col-md-5 px-4 pt-4">
      <a href="javascript:void(0)" class="text-body font-weight-semibold">Project Title</a><br>
      <small class="text-muted">Create the new product design</small>
    </div>
    <div class="col-4 col-md-2 text-muted small px-4 pt-4">
      <strong>In Progress</strong> <br> 3D modeling
    </div>
    <div class="col-4 col-md-2 text-muted small px-4 pt-4">
      12 Jan 2018 <br> 4:45
    </div>
    <div class="col-4 col-md-3 px-4 pt-4">
      <div class="text-right text-muted small">60%</div>
      <div class="progress" style="height: 6px;">
        <div class="progress-bar" style="width: 60%;"></div>
      </div>
    </div>
  </div>
</div>

<div class="card pb-4 mb-2">
  <div class="row no-gutters align-items-center">
    <div class="col-12 col-md-5 px-4 pt-4">
      <a href="javascript:void(0)" class="text-body font-weight-semibold">Project Title</a><br>
      <small class="text-muted">Design and development</small>
    </div>
    <div class="col-4 col-md-2 text-muted small px-4 pt-4">
      <strong>In Progress</strong> <br> Coding
    </div>
    <div class="col-4 col-md-2 text-muted small px-4 pt-4">
      19 Jan 2018 <br> 8:44
    </div>
    <div class="col-4 col-md-3 px-4 pt-4">
      <div class="text-right text-muted small">84%</div>
      <div class="progress" style="height: 6px;">
        <div class="progress-bar" style="width: 84%;"></div>
      </div>
    </div>
  </div>
</div>

<div class="card pb-4 mb-2">
  <div class="row no-gutters align-items-center">
    <div class="col-12 col-md-5 px-4 pt-4">
      <a href="javascript:void(0)" class="text-body font-weight-semibold">Project Title</a><br>
      <small class="text-muted">Create the concept</small>
    </div>
    <div class="col-4 col-md-2 text-muted small px-4 pt-4">
      <strong>Done</strong>
    </div>
    <div class="col-4 col-md-2 text-muted small px-4 pt-4">
      1 Feb 2018
    </div>
    <div class="col-4 col-md-3 px-4 pt-4">
      <div class="text-right text-muted small">100%</div>
      <div class="progress" style="height: 6px;">
        <div class="progress-bar" style="width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<div class="card pb-4 mb-4">
  <div class="row no-gutters align-items-center">
    <div class="col-12 col-md-5 px-4 pt-4">
      <a href="javascript:void(0)" class="text-body font-weight-semibold">Project Title</a><br>
      <small class="text-muted">SEO enchantsment</small>
    </div>
    <div class="col-4 col-md-2 text-muted small px-4 pt-4">
      <strong>In Progress</strong> <br> Optimizing markup
    </div>
    <div class="col-4 col-md-2 text-muted small px-4 pt-4">
      12 Jan 2018 <br> 10:21
    </div>
    <div class="col-4 col-md-3 px-4 pt-4">
      <div class="text-right text-muted small">23%</div>
      <div class="progress" style="height: 6px;">
        <div class="progress-bar" style="width: 23%;"></div>
      </div>
    </div>
  </div>
</div>

<!-- / Project progress -->

<hr class="container-m-nx mt-0 mb-4">

<div class="row">
  <div class="col-md-6">

    <!-- Messages -->
    <div class="card mb-4">
      <h6 class="card-header">Messages</h6>
      <div class="card-body">
        <div class="media pb-1 mb-3">
          <img src="assets/img/avatars/6-small.png" class="d-block ui-w-40 rounded-circle" alt>
          <div class="media-body ml-3">
            <div class="mb-1">
              <strong class="font-weight-semibold">Mae Gibson</strong> &nbsp;
              <small class="text-muted">58m ago</small>
            </div>
            <a href="javascript:void(0)" class="text-body">Sit meis deleniti eu, pri vidit meliore docendi ut.</a>
          </div>
        </div>
        <div class="media pb-1 mb-3">
          <img src="assets/img/avatars/4-small.png" class="d-block ui-w-40 rounded-circle" alt>
          <div class="media-body ml-3">
            <div class="mb-1">
              <strong class="font-weight-semibold">Kenneth Frazier</strong> &nbsp;
              <small class="text-muted">1h ago</small>
            </div>
            <a href="javascript:void(0)" class="text-body">Mea et legere fuisset, ius amet purto luptatum te.</a>
          </div>
        </div>
        <div class="media pb-1 mb-3">
          <img src="assets/img/avatars/5-small.png" class="d-block ui-w-40 rounded-circle" alt>
          <div class="media-body ml-3">
            <div class="mb-1">
              <strong class="font-weight-semibold">Nelle Maxwell</strong> &nbsp;
              <small class="text-muted">2h ago</small>
            </div>
            <a href="javascript:void(0)" class="text-body">Sit meis deleniti eu, pri vidit meliore docendi ut.</a>
          </div>
        </div>
        <div class="media">
          <img src="assets/img/avatars/1-small.png" class="d-block ui-w-40 rounded-circle" alt>
          <div class="media-body ml-3">
            <div class="mb-1">
              <strong class="font-weight-semibold">Mike Greene</strong> &nbsp;
              <small class="text-muted">1d ago</small>
            </div>
            <a href="javascript:void(0)" class="text-body">Lorem ipsum dolor sit amet, vis erat denique in.</a>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="card-footer d-block text-center text-body small font-weight-semibold">SHOW
        MORE</a>
    </div>
    <!-- / Messages -->

  </div>
  <div class="col-md-6">

    <!-- Feed -->
    <div class="card mb-4">
      <h6 class="card-header">Feed</h6>
      <div class="card-body">
        <div class="media pb-1 mb-3">
          <div class="ui-feed-icon-container">
            <span class="ui-icon ui-feed-icon ion ion-ios-thumbs-up bg-success text-white"></span>
            <img src="assets/img/avatars/7-small.png" class="ui-w-40 rounded-circle" alt>
          </div>
          <div class="media-body align-self-center ml-3">
            <a href="javascript:void(0)">Alice Hampton</a> liked
            <a href="javascript:void(0)">Article Name</a>
            <div class="text-muted small">2 hours ago</div>
          </div>
        </div>
        <div class="media pb-1 mb-3">
          <div class="ui-feed-icon-container">
            <span class="ui-icon ui-feed-icon ion ion-ios-text bg-secondary text-white"></span>
            <img src="assets/img/avatars/8-small.png" class="ui-w-40 rounded-circle" alt>
          </div>
          <div class="media-body align-self-center ml-3">
            <a href="javascript:void(0)">Hallie Lewis</a> commented on
            <a href="javascript:void(0)">Article Name</a>
            <div class="my-1">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </div>
            <div class="text-muted small">2 hours ago</div>
          </div>
        </div>
        <div class="media pb-1 mb-3">
          <div class="ui-feed-icon-container">
            <span class="ui-icon ui-feed-icon ion ion-ios-thumbs-down bg-danger text-white"></span>
            <img src="assets/img/avatars/9-small.png" class="ui-w-40 rounded-circle" alt>
          </div>
          <div class="media-body align-self-center ml-3">
            <a href="javascript:void(0)">Amanda Warner</a> disliked
            <a href="javascript:void(0)">Article Name</a>
            <div class="text-muted small">2 hours ago</div>
          </div>
        </div>
        <div class="media">
          <div class="ui-feed-icon-container">
            <span class="ui-icon ui-feed-icon ion ion-md-checkmark bg-primary text-white"></span>
            <img src="assets/img/avatars/11-small.png" class="ui-w-40 rounded-circle" alt>
          </div>
          <div class="media-body align-self-center ml-3">
            <a href="javascript:void(0)">Belle Ross</a> followed
            <a href="javascript:void(0)">Nelle Maxwell</a>
            <div class="text-muted small">2 hours ago</div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="card-footer d-block text-center text-body small font-weight-semibold">SHOW
        MORE</a>
    </div>
    <!-- / Feed -->

  </div>
</div>
